@model List<ReporteEstadoCuentaModel>
@{
    ViewData["Title"] = "EstadoCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
  <div class="card-header">
   ESTADO DE CUENTA
  </div>


  <div class="card-body">
    <div>
        <input type="date" />
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Cliente</th>
                <th>Numero Cuenta</th>
                <th>Tipo</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Cedula</td>
                        <td>@item.Cliente</td>
                        <td>@item.NumeroCuenta</td>
                        <td>@item.tipoMovimiento</td>
                       
                        <td>@item.Fecha</td>
                        <td>@item.Valor</td>
                    </tr>

                }
        </tbody>
    </table>

    
  </div>
</div>

