@model List<CuentaModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
  <div class="card-header">
    CUENTAS
  </div>
  <div class="card-body">
    <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success"><i class="bi bi-plus-circle"></i> Nueva cuenta</a>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
            
                <th>Cédula Cliente</th>
                <th>Numero de cuenta</th>
                <th>Saldo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdCliente</td>
                        <td>@item.Numero</td>
                        <td>@item.Saldo</td>
                        <td>
                             <a asp-action="Editar" asp-controller="Mantenedor" class="btn btn-primary btn-sm" asp-route-IdCuenta="@item.IdCuenta" >Editar</a>
                             <a asp-action="Eliminar" asp-controller="Mantenedor" class="btn btn-danger btn-sm" asp-route-IdCuenta="@item.IdCuenta" >Eliminar</a>
                        </td>
                    </tr>

                }
        </tbody>
    </table>

    
  </div>
</div>

